.display {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: white;
    width: 210mm;
    height: 297mm;
    zoom: calc(40vw / 297mm);
    margin: 20px 10px 20px 10px;
    display: grid;
    grid-template-areas:
            "sidePanel header header"
            "sidePanel main main"
            "sidePanel main main";
    padding: 50px;    
}

#basic{
    padding: 50px 10px 50px 10px;
    background-color: aliceblue;
    grid-area: sidePanel;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

