#main {
	display: grid;
	grid-template-columns: 3fr 7fr 7fr;
	grid-template-areas: "setting edit display";
	gap: 16px;
}

.setting {
	grid-area: setting;
}
.edit {
	grid-area: edit;
	display: flex;
	padding: 25px 0 20px 0;
	align-items: flex-start;
	justify-content: center;
	max-height: 80vh;
	gap: 10px;
}

.editBasic {
	grid-area: edit;
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: flex;
	justify-content: center;
	max-height: 80vh;
}

.editExperience {
	grid-area: edit;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	max-height: 80vh;
}
.editEducation {
	grid-area: edit;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	max-height: 80vh;
}

#displayContainer {
	grid-area: display;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px 10px 20px 10px;
}

.setting {
	display: flex;
	width: 100%;
	flex-direction: column;
	flex-grow: 3;
	justify-content: center;
	align-items: center;
	border: 2px solid black;
}
.setting:hover {
	background-color: rgb(35, 35, 46);
	transition: all 0.05s;
}
.setting:active {
	background-color: rgb(15, 16, 22);
	transition: all 0.05s;
}

#settings {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 2px solid black;
}

[hidden] {
	display: none !important;
}

label {
	display: flex;
	justify-content: flex-end;
	gap: 18px;
	width: 100%;
}

textarea {
	resize: none;
}
input,
textarea {
	box-sizing: border-box;
	margin: 0;
	padding: 2px 3px;
}
